

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2f855a; 
  margin-bottom: 1.5rem;
}


.spaceY6 > div {
  margin-bottom: 1.5rem; 
}

.card {
  background-color: #fefcbf; 
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s, box-shadow 0.2s; 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2d3748; 
}

.cardText {
  color: #4a5568; 
  line-height: 1.6;
}


@media (max-width: 768px) {
  .title {
      font-size: 2rem; 
  }

  .card {
      padding: 0.75rem; 
  }

  .cardTitle {
      font-size: 1.25rem; 
  }

  .cardText {
      font-size: 0.9rem; 
  }
}
