.header {
  background-color: #16a34a; 
  color: white;
  padding: 1rem 2rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .title {
      font-size: 1.875rem; 
  }
}

.nav {
  display: flex;
  gap: 1rem; 
}

.link {
  font-size: 1.125rem; 
  transition: color 0.2s;
}

@media (min-width: 768px) {
  .link {
      font-size: 1.25rem; 
  }
}

.link:hover {
  color: #facc15; 
}
